// colors
$primary-bg-color: #FCFAFA;
$primary-text-color: #1A535C;
$primary-accent-color: #4ECDC4;
$secondary-text-color: #F7FFF7;
$secondary-accent-color: #FF6B6B;
$tertiary-accent-color: #FFE66D;

// breakpoints
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;