@use "../../styles/partials/global";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.home {
    min-height: 100vh;
    padding-top: 2rem;
    @include flex-align(column, center);
    @include container;

    &__title {
text-transform: uppercase;
    }

    &__search {
   gap: 2rem;
    @include flex-full(row, center, center)
    }

    &__search-bar {
        padding: 1rem;
        
    }

    &__search-input {
        padding: 0.25rem;
        width: 15rem;
    }

&__dropdown {
    width: 15rem;
    padding: 0.25rem;
}
    &__gallery {
        padding: 2rem 0;
        gap: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__card {
        width: 30%;
        height: 30rem;
        border: .125rem solid $secondary-accent-color;
        border-radius: 0.5rem;
        background-color: #FFFF;
        box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1), 0 .125rem .25rem rgba(0, 0, 0, 0.08);
        overflow: hidden;
    }

    &__info {
        padding: 0.5rem 1rem;
        height: 15%;
        border-top: .125rem solid $secondary-accent-color;
        background-color: $secondary-accent-color;
        @include flex-content(center, space-between);
    }
    
    &__image {
        width: 100%;
        height: 85%;
        object-fit: contain;
    }

    &__link {
            color: $secondary-text-color;
&:hover {
    color: $primary-text-color;
}
    }
}