@use "../../styles/partials/global";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.home {
    min-height: 100vh;
    padding-top: 2rem;
    position: rleative;
    @include flex-align(column, center);
    @include container;

    &__title {
        text-transform: uppercase;
    }

    &__search {
        gap: 1rem;
        @include flex-full(column, center, center);

        @include tablet {
            flex-direction: row;
        }
    }

    &__search-bar {
        padding: 1rem;

    }

    &__search-input {
        padding: 0.25rem;
        width: 15rem;

        @include tablet {
            padding: 0.5rem;
            width: 20rem;
        }
    }

    &__dropdown {
        width: 15rem;
        padding: 0.25rem;

        @include tablet {
            padding: 0.5rem;
            width: 20rem;
        }
    }

    &__gallery {
        padding: 2rem 0 1rem 0;
        width: 100%;
        gap: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include tablet {
            padding: 2rem 0;
        }
    }

    &__card {
        width: 45%;
        height: 10rem;
        border: .125rem solid $secondary-accent-color;
        border-radius: 0.5rem;
        background-color: #FFFF;
        box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1), 0 .125rem .25rem rgba(0, 0, 0, 0.08);
        overflow: hidden;
        position: relative;

        @include tablet {
            width: 30%;
            height: 30rem;
        }
    }

    &__watermark {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        text-align: center;
        transform: translate(-50%, -50%) rotate(25deg);
        font-size: 0.75rem;
        color: rgba(215, 215, 215, 0.4);
        pointer-events: none;
        user-select: none;
        z-index: 2;

        @include tablet {
            font-size: 1.25rem;
        }

        @include desktop {
            font-size: 1.75rem;
        }

        &--gallery {
            top: 45%;
        }
    }

    &__info {
        padding: 0.25rem 0.5rem;
        height: 25%;
        border-top: .125rem solid $secondary-accent-color;
        background-color: $secondary-accent-color;
        @include flex-content(center, space-between);

        @include tablet {
            height: 15%;
            padding: 0.5rem 1rem;
        }
    }

    &__image {
        width: 100%;
        height: 75%;
        object-fit: contain;
        cursor: zoom-in;

        @include tablet {
            height: 85%;
        }
    }

    &__link {
        color: $secondary-text-color;

        &:hover {
            color: $primary-text-color;
        }
    }

    &__carousel {
        margin: 0 auto;
        padding: 1rem 0 3rem 0;
        width: 100%;
        overflow: hidden;
        display: flex;


        @include tablet {
            padding: 1.5rem 0 3rem 0;
        }

        &:hover .home__carousel-group {
            animation-play-state: paused;
        }
    }

    &__carousel-group {
        display: flex;
        gap: 1rem;
        padding-right: 1.5rem;
        will-change: transform;
        animation: scrolling 30s linear infinite;

        @include tablet {
            gap: 1.5rem;
        }
    }

    &__carousel-card {
        border-radius: 1.5rem;
        box-shadow: rgba(0, 0, 0, 10%) .3125rem .3125rem 1.25rem 0;
        overflow: hidden;
        height: 10rem;

        @include tablet {
            height: 20rem;
        }
    }

    &__carousel-image {
        height: 10rem;

        @include tablet {
            height: 20rem;
        }
    }

    &__modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        padding: 0 1rem;
    }

    &__modal-content {
        position: relative;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    &__modal-image {
        max-width: 80%;
        max-height: 80vh;
        object-fit: contain;
    }

    &__modal-close {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 30px;
        color: #000;
        cursor: pointer;
    }

    //
    &__spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }

    &__spinner::after {
        content: "";
        border: .3125rem solid $primary-accent-color;
        border-top: .3125rem solid $primary-text-color;
        border-radius: 50%;
        width: 3.125rem;
        height: 3.125rem;
        animation: spin 1s linear infinite;
    }
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}